html,body,a,p,ul{
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    
}
li{
    list-style: none;
}
.sidebar-main{
    position: fixed;
    width:100vw;
    height: 50px;
    background-color: #000;
    /*LAYOUT*/
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20px 1fr auto 50px;
    border-bottom: 2px solid #45f3ff;
}

.sidebar-main .name h2{
font-size: 1.2em;
color: #45f3ff;
text-align: start;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

.sidebar-main .menu-container{
padding: 0;
margin: 0;
align-items: center;
justify-items: end;


/*LAYOUT*/
display: grid;
grid-column: 3;
grid-auto-flow: column;
grid-auto-columns: 120px;
}

.sidebar-main .menu-container li a{
    font-size: 1.2em;
    font-weight: bold;
    color: #45f3ff;
    font-family: Arial, Helvetica, sans-serif;
    }

.sidebar-main .menu-container li :hover{
    color: white;
    cursor: pointer;
    }
    .sidebar-main .menu-container li ::after{
        transform: scale(0,1);
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: #45f3ff;
        transition: transform 200ms ease-in;
       }
    
    .sidebar-main .menu-container li a:hover:after{
        transform: scale(1,1);
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: cyan;
    }


  /*/////////////////////main////////////////////////////////*/  
.main{
    padding: 0;
    display: grid;
    grid-auto-rows: 100vh 100vh 1fr 1fr;
    background-color: #000;
  
    
  
}

.main .home-section{
    background-color: #000;
    padding: 60px 10px ;

   
}

.main .home-section h1{
    color: #45f3ff;
    padding: 100px 10px ;
    font-size: 5em;
    text-align: center;

}

.main .about-section{
    display: grid;
    padding: 0px 0px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    background-color: white;
}

.main .about-section .left-container{
border-radius: 0px  100%   100% 0px;
background-color: #45f3ff;
text-align: center;
}

.main .about-section .left-container img{
   border-radius: 50%;
   margin-top: 150px;
   height: 350px;
   width: 350px;
}
.main .about-section .left-container{
   border-radius: 0px  100%   100% 0px;
   background-color: #0d8c95;
   text-align: center;
}

.main .about-section .right-container{
      padding: 100px 10px ;
    text-align: center;
    align-items: center;
}

.main .about-section .right-container h2{
    
    font-size: 3em;
    text-align: center;
}


.main .about-section .right-container p{
    margin-top:40px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



/*//////////////////////////////SKILLS////////////////////////////*/

.main .skills-section{
    padding: 60px 10px ;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 120px 1fr;
}

.main .skills-section .title{
    margin: 0;
    width: 100%;
    color: #45f3ff;
    font-size: 3em;
    text-align: center;
   
}
.main .skills-section .photo{
   
    padding: 30px 10px 30px ;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    grid-gap: 2px;
    place-items: center;
    
   
}  
.main .skills-section .photo img{
    height: 250px;
    width: 250px ;
    align-items: center;
    border: 4px solid #45f3ff;
    
}




/*//////////////////////////COntact-section/////////////////////////*/
.main .contact-section{
    width: 90%;
    padding: 60px 10px ;
}

.main .contact-section h2{
    margin: 0;
    width: 100%;
    color: #45f3ff;
    font-size: 3em;
    text-align: center;
   
}

.main .contact-section h5{
   
    width: 100%;
    color: #45f3ff;
    font-size: 1em;
    text-align: center;
    margin-top: 0;
    
   
}

.main .contact-section .label{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-gap: 5px;
}


.main .contact-section .label .style{
position: relative;
width: 100%;
padding: 0 10px;
margin: 30px 0 10px;
transition: 0.5s;
}


.main .contact-section  .inputBox{
position: relative;
width: 100%;
height: 40px;
color: #45f3ff;
}

.main .contact-section .inputBox input ,
.main .contact-section .inputBox textarea{
position: absolute;
width: 100%;
height: 40px;
background: transparent;
box-shadow: none;
border: none;
outline: none;
font-size: 18px;
padding: 0 10px;
z-index: 1;
color: #000;

}

.main .contact-section  .inputBox .text{
position: absolute;
top: 0;
left: 0;
line-height: 40px;
font-size: 18px;
padding: 0 10px;
display: block;
transition: 0.5s;
pointer-events: none;
}

.main .contact-section .label .inputBox input:focus+ .text,
.main .contact-section .label  .inputBox input:valid+ .text{
    top: -35px;
    left: -10px;
}



.main .contact-section .label .inputBox .line{
position: absolute;
bottom: 0;
display: block;
width: 100%;
height: 2px;
background-color: #45f3ff;
transition: 0.5s;
border-radius: 2px;
pointer-events: none;
}

.main .contact-section .label .inputBox input:focus~ .line,
.main .contact-section .label  .inputBox input:valid~ .line{
    height: 100%;
}

.main .contact-section .label .inputBox .textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
    
  
}

.main .contact-section .label .inputBox .textarea textarea{
    height: 100%;
    resize: none;
    
}

.main .contact-section .label .inputBox textarea:focus+ .text,
.main .contact-section .label  .inputBox textarea:valid+ .text{
   top: -35px;
   left: -10px;
   
}

.main .contact-section .label .inputBox textarea:focus~ .line,
.main .contact-section .label  .inputBox textarea:valid~ .line{
    height: 100%;
}


.main .contact-section .label .style .submit{
    text-align: start;
}
input[type="submit"]{
  
    padding: 7px 35px;
    cursor: pointer;
    color: #45f3ff;
    font-size: 18px;
    background-color: transparent;
    border-color: #45f3ff;   
}



.main .contact-section .media{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    text-align:center ;
    border-top: 2px solid #45f3ff;
    border-bottom: 2px solid #45f3ff;

   
    
}

.main .contact-section .media li  {
 
   margin-right: 50px;
   display: inline-block;
   font-size: 3em;
   width: 30px;
   color: #45f3ff;
   
}

.main .contact-section .media li a {
    color: #45f3ff;    
 }



